body{
	background-color: #99e6ff ;
	text-indent: 1em;
}
#resumeform
{
	position: relitive;
	max-width: 50em;
	padding:1em;
	width: 85%;
	margin: auto;
	border-style: outset;
	box-shadow: 10px 10px 10px #999999;
	text-align: left;
	background-color:#F1E7CD;
}
#resumeform div
{
	text-align:left;
	padding-left:2em;
	border-collapse: none
}

h1{
	text-align:center;
}

.resume
{
	text-align:center;
}
h2
{

	padding-left: 2em
	
}
h3
{
	
	padding-left: 2em
	
}
p
{

	width:90%;
	padding-left:3em
}
ul 
{
	
}
li 
{
	
	margin-left: 0em; 
    padding-left: 0em;
	
}
table
{
	width: auto;
	margin: 13px auto 30px auto;
	
	border-spacing: 5px;
	border-style: solid;
	border-width: 10px;
	border-color: #0000cc ;
	border-radius: 10px;
}
th
{
	border-top-style: double;
    border-right-style: none;
    border-bottom-style: double;
    border-left-style: double;
	border-width: 5px;
	border-color: #0000ff;
	border-radius: 15px;
	
}
td
{
	border-style: double;
	border-collapse: collapse;
	border-width: 3px;
	border-color: #cc0000 ;
	text-align: center;
	padding-left: 1em  ;
	padding-right: 1em  ;
}

tr:nth-child(odd){background-color: #66d9ff}
tr:nth-child(even){background-color: #1ac6ff}

.clan1
{
	background-color: #00cc00 ;
	width: 3em;
	font-size:1.8em;
}
.clan2
{
	background-color: #e68a00 ;
	width: 5em;
	font-size:1.8em;
}

.issues
 {
	background-color: #ff0000 ;
	padding: .25em ;
	font-size: 2.5em;  
}
.fix
{
	background-color: #00b300 ;
	padding: .25em ;
	font-size: 2.5em;  
}
.break
{
	border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: None;
	border-color:  ;
	
}