//http://paletton.com/#uid=53+0G0kwNDZjWJGpBFPDLsIFSmo

//mixins here
@mixin centertitle($fsize){
    text-align: center;
    font-size: $fsize;
}
@mixin lefttitle($size){
    text-align: left;
    font-size: $size;
}
@mixin borderhighlight{
    border-bottom: 5px solid #4dbec9;
    border-radius: 5px  5px 10px 10px;
}
@mixin linkhover{
    a:hover{
        color: #28b0bd ;
        font-weight: bold;}
}


.container{
    padding:2rem;
    max-width: 80rem;
    position: relative;
    
    a {
        color: #000000;
        padding: 5px 10px;
        text-decoration: none;
    }
    @include linkhover();
}
h1{
    @include centertitle(2.5rem);
    margin: -2rem 0 3rem 0;
   
}
h2{
    @include centertitle(2rem);
    border: 5px double #0c0c7d;
    border-radius: 6px;
    margin:0 5rem;
}
h3,h4{
    @include lefttitle(1.5rem);
    background-color: #6565d6;
    padding-left: 3rem;
    @include borderhighlight;
}
article{

    p{
        text-indent: 2rem;
        padding: 0 1.5rem;
    }
}
.clickmap img {
    max-width: 80rem;
    height: auto;
    display: block;
    margin: auto;
    
}