.container {
  min-height: 100%;
  padding: 2rem;
  max-width: 80rem;
  position: relative;
  font-family: arial;
}

.container a {
  color: #000000;
  padding: 5px 10px;
  text-decoration: none;
}

.container a:hover {
  color: #28b0bd;
  font-weight: bold;
  font-size: 105%;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.75rem;
  border: 5px double #0c0c7d;
  border-radius: 6px;
  margin: 0 5rem;
}

h3, h4 {
  text-align: left;
  font-size: 1.25rem;
  background-color: #6565d6;
  padding-left: 3rem;
  border-bottom: 5px solid #4dbec9;
  border-radius: 5px  5px 10px 10px;
}

article p {
  text-indent: 2rem;
  padding: 0 1.5rem;
}

.clickmap img {
  max-width: 80rem;
  height: auto;
  display: block;
  margin: auto;
}

.center {
  text-align: center;
}
