header {
  background-color: #1d1dc8;
  max-height: 300px;
  padding: 0 2rem;
  position: relative;
}

header > p {
  text-align: center;
  font-size: 4rem;
  padding-left: 2rem;
  padding-top: 4rem;
  margin: auto;
}

header img {
  width: auto;
  height: 200px;
  display: block;
  float: left;
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* footer */
footer {
  background-color: #1d1dc8;
  min-height: 50px;
  max-height: 100px;
  height: 100%;
  width: 100%;
}

footer a {
  color: #ffffff;
  padding-left: 5rem;
}

footer a:hover {
  color: #28b0bd;
  font-weight: bold;
  font-size: 105%;
}

html, body {
  height: 100%;
  margin: 0;
}
