//mixins
@mixin centertitle($fsize){
    text-align: center;
    font-size: $fsize;
}
@mixin borderhighlight{
    border-bottom: 5px solid #4dbec9;
    border-radius: 0 10px 10px;
}


// START
.container{
    max-width: 75rem;
}
.linkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: #4DBEC9;
}
h1{
    @include centertitle(2.5rem);
    margin: -2rem 0 3rem 0;
}
.pagelink{
    flex: 1 1 12rem ;
    padding: 1rem;
    box-shadow:     
        2px 0 0 0 #0c0c7d, 
        0 2px 0 0 #0c0c7d, 
        2px 2px 0 0 #0c0c7d,
        2px 0 0 0 #0c0c7d inset, 
        0 2px 0 0 #0c0c7d inset;
    border-radius: 3px;
    text-align: center;
    

    h2{
        @include centertitle(1.5rem);
        @include borderhighlight();
        margin: -5px 0 0 0;
    }
   
}