table {
  margin: 1rem auto;
  border: 5px double #0c0c7d;
  border-radius: 6px;
  text-align: center;
  border-collapse: collapse;
}

tr {
  padding: 0 1em;
}

tr:nth-child(1) {
  background-color: #6565d6;
}

tr:nth-child(2n+3) {
  background-color: #4dbec9;
}

tr:nth-last-of-type(-n+3) {
  background-color: #4dbec9;
  border: none;
  text-align: left;
}

tr:nth-last-of-type(-n+3) td {
  padding-left: 3em;
}

th:nth-child(1) {
  text-align: left;
}

td {
  padding: 0 1rem;
}
